body {
    background-color: #0fcf90;
}
h1 {
    color: #b9105e;
}
 h2{
     color: orange ;
 }
 li {
     color: blue;
 }
 p {
     background-color: yellow;
 }
 input {
   border: red 2px solid ;
 }
.hello {
    background-color: white;
}
#special {
   border: blue 2px solid;
}
div p {
    font-size: 25px ;

}
input[type = "text"]{
    background-color: gray;
}

div:nth-of-type(3) {
	background-color: pink;
}
div p:nth-of-type(2) {
	border: 5px solid white;
}
div em {
	color: white;
	font-size: 20px;
}
input[type=checkbox] {
	margin-left: 50px;
}
label {
	text-transform: uppercase;
}
